<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Camera</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        Logout
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-button (click)="toDoNavegacion()" style="margin-left: 15px;">Volver</ion-button>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ionic Capacitor Camera Example</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button expand="block" (click)="takePicture()">Take Picture</ion-button>

  <ion-card *ngIf="photo">
    <ion-card-header>
      Captured Photo
    </ion-card-header>
    <ion-card-content>
      <img [src]="photo" *ngIf="photo" width="100%">
    </ion-card-content>
  </ion-card>

</ion-content>