ion-header {
  ion-toolbar {
    --min-height: 56px;
  }

  ion-title {
    font-size: 1.2rem;
    font-weight: bold;
  }

  ion-button {
    --padding-start: 8px;
    --padding-end: 8px;
    font-size: 0.9rem;
  }

  ion-segment {
    padding: 5px 0;
  }

  ion-segment-button {
    --padding-top: 5px;
    --padding-bottom: 5px;
    font-size: 0.8rem;
    text-transform: none;
  }
}

ion-content {
  --background: linear-gradient(to bottom, #4d9abf, #3e7c9e);
}
