<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        Logout
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-button (click)="toDoNavegacion()">Volver</ion-button>
  <div class="wrapper">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Información del Perfil</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="stacked">Nombre</ion-label>
          <ion-text>{{ nombre }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Apellido</ion-label>
          <ion-text>{{ apellido }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Educación</ion-label>
          <ion-text>{{ educacion }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Fecha de Nacimiento</ion-label>
          <ion-text>{{ fechaNacimiento | date }}</ion-text>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>