ion-header {
  ion-toolbar {
    --min-height: 56px;
  }

  ion-title {
    font-size: 1.2rem;
    font-weight: bold;
  }

  ion-button {
    --padding-start: 8px;
    --padding-end: 8px;
    font-size: 0.9rem;
  }

  ion-segment {
    padding: 5px 0;
  }

  ion-segment-button {
    --padding-top: 5px;
    --padding-bottom: 5px;
    font-size: 0.8rem;
    text-transform: none;
  }
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

ion-content {
  --background: linear-gradient(to bottom, #4d9abf, #3e7c9e);
}

form {
  background-color: #fff;
  width: 30rem;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

ion-item {
  --background: transparent;
  --color: black;
}
ion-input {
  background-color: transparent;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

ion-card {
  display: flex;
  justify-content: center;
  background-color: transparent;
}
