ion-header {
  display: flex;
  --background: #333;
  --color: #fff;

  ion-toolbar {
    --background: transparent;
    --color: #fff;
  }
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

ion-content {
  --background: linear-gradient(to bottom, #4d9abf, #3e7c9e);
}

form {
  background-color: #1e1e1e;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

ion-item {
  // --background: transparent;
  // --color: black;
}
ion-input {
  background-color: transparent;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

ion-button {
  width: 48%;
}
